#slides {
  margin: 0;
  padding: 0;
  width: 1020px;
  height: 740px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

#slides .slide {
  display: none;
  border: 1px solid #fff;
}

#slides .slide.current {
  display: block;
}

.inc {
  display: none;
}

body {
  font-family: "Gill Sans", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  display: block;
  height: 600px;
  font-size: 3em;
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}
ul li {
  text-align: center;
  padding: 25px;
}

ul.small {
  font-size: 2em;
}
ul.small li {
  padding: 10px;
}

.commandline pre {
  font-size: 2em;
}
.commandline code.command {
  color: #000;
}
.commandline code.result {
  color: #444;
}

h1.command {
  white-space: pre;
  font-family: monospace;
  font-size: 3em;
}

.code {
  white-space: pre;
  font-family: monospace;
}

.small {
  font-size: 75%;
}

.smaller {
  font-size: 60%;
}

blockquote {
  font-size: 2em;
  font-style: italic;
  padding: 1em;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0 0 15px gray;
  border: 2px solid gray;
}

h1 {
  font-size: 5em;
  font-weight: normal;
  text-align: center;
}

h2 {
  font-size: 3em;
  font-weight: normal;
  text-align: center;
}

h3 {
  font-size: 2em;
  font-weight: normal;
  text-align: center;
}

pre {
  padding: 1em;
  font-size: 2.8em;
}

.hidden {
  position: absolute;
  top: 0;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.results {
  background-color: #002200;
  color: #00AA00;
  font-size: 2em;
  border: 2px solid black;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 15px;
  margin: 0px;
  font-family: monospace;
}

.executing {
  color: #0000FF !important;
  background-color: yellow;
}

table {
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
}
table th {
  text-align: left;
  padding-right: 2em;
  vertical-align: top;
}
table td {
  padding-right: 2em;
  vertical-align: top;
}

/* Thumbnails */

#thumbnails {
  margin: 0;
  padding: 0;
  width: 1020px;
  margin-left: auto;
  margin-right: auto;
}

#thumbnails .slide {
  width: 200px;
  height: 200px;
  float: left;
  overflow: hidden;
  border: 1px solid grey;
  margin: 1px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0 0 5px gray;
}

#thumbnails .slide.current {
  border: 2px solid red;
  margin: 0px;
}

#thumbnails .hover {
  border: 2px solid black;
  margin: 0px;
  -webkit-box-shadow: 0 0 20px black;
}

#thumbnails .slide * {
  font-size: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

#thumbnails .slide h1 {
  font-size: 130%;
}

#thumbnails .inc {
  display: block;
}

/* Sections */

#sections {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
  list-style: none;
}

#sections .hover {
  background: yellow;
}

#sections .current {
  font-weight: bold;
}
