pre {
  background: black;
  color: white;
}

pre code { color: white; }
pre code * { border: none; }
pre code .symbol { color: red; }
pre code .brackets { color: #888888; }
pre code .constant { color: yellow; }
pre code .keywords { color: #999999; }
pre code .instance_variable { color: orange; }

pre code .selectors, pre code .global, pre code .properties, pre code .tag, pre code .attribute {
  color: orange;
}
pre code .comment {
  color: gray;
  border: none !important;
}
pre code .string { 
  font-style: italic; 
  color: #55FF55;
}
pre code .embedded {
  color: yellow;
}
