@font-face {
  font-family: "Raleway";
  src: url(/slides/fonts/raleway_thin.otf) format("opentype");
}

body {
  font-family: Raleway;
  background: #333333;
  color: white;
}

.slide {
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.slide.section {
  background: black;
  color: white;
  font-weight: bold;
}

.slide.subsection h1, .slide.subsection h2, .slide.subsection h3, .slide.subsection h4 {
  color: yellow;
}

.slide.unfinished {
  background: red;
  color: black !important;
}

.slide.with_image {
  color: black;
  background: white;
  text-shadow: 0.2em 0.2em 0.2em gray;
}

.slide.with_image pre {
  text-shadow: none;
}

.slide table th {
  border-bottom: 5px solid gray;
}

.slide table td {
  border-bottom: 1px solid gray;
}

.slide table {
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
}
.slide table th {
  text-align: left;
  padding-right: 2em;
  border-bottom: 5px solid gray;
  vertical-align: top;
}
.slide table td {
  padding-right: 2em;
  vertical-align: top;
  border-bottom: 1px solid gray;
}

.slide li {
  font-family: Helvetica;
  font-style: italic;
  text-align: left;
  padding-left: 10%;
}

.slide strong, .slide b {
  color: red;
}

.slide .box {
  width: 40%;
  background: black;
  -webkit-border-radius: 10px;
}

.slide .spacer {
  width: 20%;
}

.slide .left {
  float: left;
}

.slide blockquote {
  font-size: 2em;
  font-style: italic;
  padding: 1em;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0 0 15px gray;
  border: 2px solid gray;
}

.ampersand {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
  font-weight: normal; 
}

.slide.background_image {
  background-color: transparent;
  text-shadow: none;
}

.slide.background_image h1 {
  color: yellow;
  background: rgba(0,0,0,0.8);
  border: 1px solid black;
  font-weight: 100;
  padding: 10px;
  -webkit-border-radius: 20px;
}

.slide.background_image img {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
