body {
  font-family: "Gill Sans", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
}

#slides {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#slides .slide {
  display: none;
}

#slides .slide.current {
  display: block;
}

.inc {
  opacity: 0;
}

.slide img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slide ul {
  display: block;
  font-size: 3em;
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}

.slide .code {
  white-space: pre;
  font-family: monospace;
}

.small {
  font-size: 75%;
}

.smaller {
  font-size: 60%;
}

.tiny {
  font-size: 30%
}

.slide h1 {
  font-size: 5em;
  font-weight: normal;
  text-align: center;
}

.slide h2 {
  font-size: 3em;
  font-weight: normal;
  text-align: center;
}

.slide h3 {
  font-size: 2em;
  font-weight: normal;
  text-align: center;
}

.slide pre {
  padding: 0.5em;
  font-size: 2.8em;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

.hidden {
  position: absolute;
  top: 0;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.slide table {
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
}

.slide table th {
  text-align: left;
  padding-right: 2em;
  vertical-align: top;
}

.slide table td {
  padding-right: 2em;
  vertical-align: top;
}

/* Thumbnails */

#thumbnails {
  margin: 0;
  padding: 0;
  width: 1020px;
  margin-left: auto;
  margin-right: auto;
}

#thumbnails .slide {
  width: 200px;
  height: 200px;
  float: left;
  overflow: hidden;
  border: 1px solid grey;
  margin: 1px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-box-shadow: 0 0 5px gray;
  -webkit-box-shadow: 0 0 5px gray;
}

#thumbnails .slide.current {
  border: 2px solid red;
  margin: 0px;
}

#thumbnails .slide:hover {
  border: 2px solid black;
  margin: 0px;
  -webkit-box-shadow: 0 0 20px black;
  -moz-box-shadow: 0 0 20px black;
}

#thumbnails .slide * {
  font-size: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

#thumbnails .slide h1 {
  font-size: 130%;
}

#thumbnails .inc {
  opacity: 1;
}

/* Sections */

#sections {
  font-size: 2em;
  list-style: none;
}

#sections li[rel]:hover {
  color: yellow;
}

#sections .current {
  font-weight: bold;
}

/* Help */

#help {
  z-index: 3;
  position: absolute;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  top: 10%;
  left: 10%;
  right: 10%;
  width: 80%;
  display: hidden;
  border: 1px solid yellow;
  background: rgba(0, 0, 0, 0.8);
  font-size: 3em;
  font-family: Helvetica;
}

#help table {
  margin: 10% auto;
}

#help table th, #help table td {
  vertical-align: top;
  padding: 5px 20px;
}

#help table th {
  color: yellow;
  font-weight: bold;
  text-align: right;
}

#help table td {
  text-align: left;
}
