.slide, .inc {
  display: none; }

.current_slide {
  display: block !important; }

body {
  font-family: "Gill Sans", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  border: 0; }

#slides {
  margin: 0;
  padding: 0;
  width: 1020px;
  height: 740px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }

.slide {
  border: 1px solid #fff; }

.center img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.bullets ul {
  display: block;
  height: 600px;
  font-size: 3em;
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em; }
  .bullets ul li {
    text-align: center;
    padding: 25px; }

.smbullets ul {
  display: block;
  height: 600px;
  font-size: 2em;
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em; }
  .smbullets ul li {
    text-align: center;
    padding: 10px; }

.commandline pre {
  font-size: 2em; }
.commandline code.command {
  color: #000; }
.commandline code.result {
  color: #444; }

.command h1 {
  white-space: pre;
  font-family: monospace;
  font-size: 3em; }

.code {
  white-space: pre;
  font-family: monospace; }

.subsection {
  background: #008;
  color: #fff; }

.small {
  font-size: 80%; }

.smaller {
  font-size: 70%; }

h1 {
  font-size: 5em;
  font-weight: normal;
  text-align: center; }

h2 {
  font-size: 3em;
  font-weight: normal;
  text-align: center; }

h3 {
  font-size: 2em;
  font-weight: normal;
  text-align: center; }

pre {
  padding: 1em;
  font-size: 2.8em; }

.hidden {
  position: absolute;
  top: 0;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.results {
  background-color: #002200;
  color: #00AA00;
  font-size: 2em;
  border: 2px solid black;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 15px;
  margin: 0px;
  font-family: monospace; }

.executing {
  color: #0000FF !important;
  background-color: yellow; }
