.slide.section

  %h1 This is a section

.slide.subsection

  %h1 This is a subsection

.slide

  %h1 Some Code

  :rubycode
    def Foo
      bar # This is :rubycode
    end

  :code
    This is just :code

.slide

  %h3 Anything with .inc will show up incrementally.

  %ul
    %li.inc One
    %li.inc Two
    %li.inc Three

.slide

  %h2 Suspenders!

  = image "suspenders.png", :height => "50%"

